black
invoke
jupyter
jupyterlab
keras
lightgbm
matplotlib
missingno
nbdime
numpy
pandas
pandas-flavor
pandas-profiling
pip
plotly
pyjanitor
pylint
pyprojroot
pyspark
python-dotenv
scikit-learn
seaborn
statsmodels
tensorflow
